<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <div class="hgroup">
        <img class="navbar-brand" style="height:50px" src="../images/Handly_Logo_red.png"><h7>H A N D L Y ! <span><hr>Email confirmado</span></h7></img>
        <img src="../images/imgconfirmation.png" alt="Simply Easy Learning" width="200"
         height="auto">
      </div>
      <p>Ya puedes utilizar la app!</p>
      <p> / <a href="http://handly.io/">Más info en Handly.io &raquo;</a></p>
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>